# Python 2장

## 02-1 숫자형

##### 숫자형(Number) : 숫자 형태로 이루어진 자료형

### 1. 숫자형의 종류

#### 1) 정수형

In [2]:
a = 123

In [3]:
a = -178

In [4]:
a = 0

#### 2) 실수형

In [5]:
a = 1.2

In [6]:
a = -3.45

#### 3) 컴퓨터식 지수 표현 방식

In [9]:
a = 4.24E10

In [8]:
a = 4.24e-10

#### 4) 8진수와 16진수(잘 사용하지 않음)

##### 8진수(Octal) : 숫자0 + 알파벳 O or o

In [10]:
a = 0o177

##### 16진수(Hexadecimal) : 0x

In [11]:
a = 0x8ff

######

## 2. 숫자형을 활용하기 위한 연산자

#### 1) + 더하기, * 곱하기, /나누기

In [ ]:
a = 3

In [13]:
b = 4

In [14]:
a + b

7

In [15]:
a * b

12

In [16]:
a/b

0.75

#### 2) x의 y제곱 : **

In [17]:
a = 3

In [18]:
b = 4

In [19]:
a**b

81

#### 3) 나눗셈 후 나머지 값 산출 : %

In [20]:
7%3

1

In [21]:
3%7

3

#### 4) 나눗셈 후 소수점 버림, 정수만 표현 : //

In [22]:
7/4

1.75

In [23]:
7//4

1

##### *음수일 경우, 가장 큰 정수로 리턴

In [24]:
-7/4

-1.75

In [25]:
-7//4

-2

#####

# 02-2 문자열 자료형

##### 문자열(String) : 문자, 단어 등으로 구성된 문자들의 집합 
###### 따옴표로 둘러싸여 있으면 모두 문자열

## 1. 문자열을 만드는 방법 4가지

#### 1) 큰따옴표로 양쪽 둘러싸기

In [26]:
"Hello world"

'Hello world'

#### 2) 작은 따옴표로 양쪽 둘러싸기

In [27]:
'Python is fun'

'Python is fun'

#### 3) 큰따옴표 3개를 연속 사용하여 양쪽 둘러싸기

In [28]:
"""Life is too short, You need python"""

'Life is too short, You need python'

#### 4) 작은 따옴표 3개를 연속 사용하여 양쪽 둘러싸기

In [29]:
'''Life is too short, You need python'''

'Life is too short, You need python'

## 2. 문자열 안에 큰따옴표나 작은따옴표를 포함시키고 싶을 때

#### 1) 문자열에 작은따옴표 포함시키기

In [30]:
food = "Python's favorite food is perl"

In [44]:
food

"Python's favorite food is perl"

In [32]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-32-4bf9be702834>, line 1)

#### 2) 문자열에 큰따옴표 포함시키기

In [33]:
say = '"Python is very easy."he says.'

#### 3) \백슬래시 이용해서 작은따옴표와 큰따옴표를 문자열에 포함시키기
##### \백슬래시를 작은따옴표나 큰따옴표 앞에 삽입하면 \ 뒤의 작은따옴표나 큰따옴표는 문자열을 둘러싸는 기호의 의미가 아닌 문자 ',"의 뜻

In [36]:
food = 'Python\'s favorite food is perl'

In [45]:
food

"Python's favorite food is perl"

In [35]:
say = "\"Pyhon is very easy.\" he says."

In [46]:
say

'"Pyhon is very easy." he says.'

## 3. 여러 줄인 문자열을 변수에 대입하고 싶을 때

##### 1) 줄을 바꾸기 위한 이스케이프 코드 \n(줄바꾸기) 삽입하기

In [40]:
multiline = "Life is too short\nYou need python"

In [41]:
print(multiline)

Life is too short
You need python

#### 2) 연속된 작은따옴표 3개 or 큰따옴표 3개 이용

In [47]:
multiline = '''
Life is too short
You need python'''

In [48]:
print(multiline)

Life is too short
You need python

In [50]:
multiline = """
Life is too short
You need python"""

In [51]:
print(multiline)

Life is too short
You need python

### [이스케이프 코드]

#### \n : 줄바꿈
#### \t : 수평 탭
#### \\ : 문자 "\"
#### \' : 단일 인용부호'
#### \" : 이중 인용부호"
#### \r : 캐리지 리턴
#### \f : 폼 피드
#### \a : 벨소리
#### \b : 백 스페이스
#### \000 : 널문자

## 4. 문자열 연산하기

#### 1) 문자열 더해서 연결하기(Concatenation) : +

In [52]:
head = "Python"

In [55]:
tail = " is fun!"

In [56]:
head + tail

'Python is fun!'

#### 2) 문자열 곱하기 : * = 반복하기

In [57]:
a = "python"

In [58]:
a*2

'pythonpython'

#### 3) 문자열 곱하기 응용

In [60]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

## 5. 문자열 인덱싱과 슬라이싱

#### 1) 문자열 인덱싱(Indexing) : 가리킨다. -> a[번호]

In [67]:
a = "Life is too short, You need Python"

In [68]:
a[3]

'e'

In [70]:
a[10]

'o'

In [72]:
a[0]

'L'

* 파이썬은 0부터 숫자를 센다.

In [73]:
a[-0]

'L'

In [74]:
a[-5]

'y'

#### 2) 문자열 슬라이싱(Slicing) : 문자열에서 다수 문자 뽑아내기 -> a[시작 번호:끝번호]

In [75]:
a = "Life is too short, You need Python"

In [76]:
b = a[0] + a[1] + a[2] + a[3]

In [77]:
b

'Life'

In [79]:
a[0:4]

'Life'

*의미 : 0<= a < 4

In [83]:
a[4]

' '

*공백문자 역시 문자와 동일하게 취급

In [84]:
a[0:2]

'Li'

In [85]:
a[5:7]

'is'

In [86]:
a[12:17]

'short'

- a[시작 번호:끝 번호]에서 끝 번호 부분을 생략하면 시작번호부터 그 문자열의 끝까지

In [87]:
a[19:]

'You need Python'

- a[시작 번호:끝 번호]에서 시작 번호 부분을 생략하면 문자열의 처음부터 끝 번호까지

In [88]:
a[:17]

'Life is too short'

- a[시작 번호:끝 번호]에서 둘 다 생략하면 문자열의 처음부터 끝까지

In [89]:
a[:]

'Life is too short, You need Python'

In [90]:
a[19:-5]

'You need P'

* 의미 : 19 <= a < -6

#### 3) 슬라이싱으로 문자열 나누기

In [1]:
a = "20171006Cloudy"

In [3]:
date = a[:8]

In [4]:
weather = a[8:]

In [5]:
date

'20171006'

In [6]:
weather

'Cloudy'

In [8]:
a = "20171006Cloudy"

In [9]:
year = a[:4]

In [10]:
day = a[4:8]

In [11]:
weather = a[8:]

In [12]:
year

'2017'

In [13]:
day

'1006'

In [14]:
weather

'Cloudy'

#### 4) 문자열 바꾸기

In [15]:
a = "Pithon"

In [17]:
a[1] = 'i'

TypeError: 'str' object does not support item assignment

문자열의 요소값은 바꿀 수 있는 값이 아니다. > immutable한 자료형

In [19]:
a = "Pithon"

In [20]:
a[:1]

'P'

In [21]:
a[2:]

'thon'

In [22]:
a[:1] + 'y' + a[2:]

'Python'

## 6. 문자열 포매팅(Formatiing)

문자열 내에 어떤 값을 삽입하는 방법

[문자열 포맷 코드]
###### %d     : 정수 (Integer) 
###### %s   : 문자열 (String) - 다 사용 가능!
###### %c    :  문자 1개(character) 
###### %f     : 부동소수 (floating-point) 
###### %o    :  8진수 
###### %x    :  16진수 
###### %%   :   Literal %(문자 % 자체)

#### 1) 문자열 포맷 코드 활용

%d     : 정수 (Integer)

In [24]:
"I eat %d apples."%3

'I eat 3 apples.'

In [25]:
number =3

In [27]:
"I eat %d apples."%number

'I eat 3 apples.'

%s   : 문자열 (String) - 다 사용 가능!

In [28]:
"I eat %s apples."%"five"

'I eat five apples.'

In [36]:
number = 10

In [37]:
day = "four"

In [38]:
"I ate %d apples, so I was sick for %s days." %(number, day)

'I ate 10 apples, so I was sick for four days.'

 %%   :   Literal %(문자 % 자체)

In [39]:
"Error is %d%%." %99

'Error is 99%.'

#### 2) 숫자와 함께 포맷 코드 사용

(1) 정렬과 공백

In [40]:
"%10s"%"Good"

'      Good'

"%10s" = 전체 길이가 10개인 문자열 공간에서 Good을 오른쪽 정렬, 공백으로 남기기

In [45]:
"%-10sJINSUN"%"Good"

'Good      JINSUN'

"%-10sJINSUN" = Good을 왼쪽 정렬하고 나머지는 공백

(2) 소수점 표현하기

In [47]:
"%0.4f"%1.23456789

'1.2346'

1.23456789라는 숫자를 소수점 4번째 자리까지만 표시

In [49]:
"%10.3f"%1.23456789

'     1.235'

1.23456789라는 숫자를 소수점 3번째 자리까지만 표시, 오른쪽 정렬

#### 3) 고급 문자열 포매팅

숫자 바로 대입하기

In [97]:
"I ate {0} apples.".format(3)

'I ate 3 apples.'

문자열 바로 대입하기

In [99]:
"I ate {0} apples.".format("seven")

'I ate seven apples.'

숫자 값을 가진 변수로 대입하기

In [101]:
number = 5

In [102]:
"I ate {0} apples.".format(number)

'I ate 5 apples.'

2개 이상 값 넣기

In [103]:
number = 5

In [104]:
day = 4

In [105]:
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 5 apples, so I was sick for 4 days.'

이름으로 넣기

In [109]:
"I ate {number} apples, so I was sick for {day} days.".format(number=10, day=5)

'I ate 10 apples, so I was sick for 5 days.'

인덱스와 이름을 혼용해서 넣기

In [111]:
"I ate {0} apples, so I was sick for {day} days.".format(3, day=5)

'I ate 3 apples, so I was sick for 5 days.'

In [112]:
"I ate {number} apples, so I was sick for {0} days.".format(number=3, 5)

SyntaxError: non-keyword arg after keyword arg (<ipython-input-112-fb6f948cb496>, line 1)

왼쪽 정렬 :<

In [113]:
"{0:<15}".format("Great")

'Great          '

오른쪽 정렬 :>

In [114]:
"{0:>15}".format("Super Great")

'    Super Great'

가운데 정렬 :^

In [117]:
"{0:^15}".format("Super Great")

'  Super Great  '

공백 채우기

In [119]:
"{0:*^30}".format("Super Great")

'*********Super Great**********'

In [122]:
"{0:!>30}".format("Super Great")

'!!!!!!!!!!!!!!!!!!!Super Great'

소수점 표현하기

In [123]:
y = 1.23456789

In [124]:
"{0:0.4f}".format(y)

'1.2346'

In [126]:
"{0:30.3f}".format(y)

'                         1.235'

In [127]:
"{0:+>15.2f}".format(y)

'+++++++++++1.23'

{또는}문자 표현하기

In [128]:
"{{ and }}".format()

'{ and }'

######

## 7. 문자열 관련 함수들

In [56]:
a = "I am a good student."

1) 문자 개수 세기(count)

In [58]:
a.count('o')

2

In [59]:
a.count('s')

1

2) 위치 알려주기1(find)

In [60]:
a.find('e')

16

In [61]:
a.find('s')

12

In [62]:
a.find('z')

-1

문자나 문자열이 존재하지 않으면 -1을 반환

3) 위치 알려주기2(index)

In [63]:
a.index('o')

8

In [64]:
a.index('z')

ValueError: substring not found

4) 문자열 삽입(join)

In [70]:
a = ","

In [71]:
a.join('abcd')

'a,b,c,d'

5) 소문자를 대문자로 바꾸기(upper)<->대문자를 소문자로 바꾸기(lower)

In [72]:
a = "I am a good student."

In [73]:
a.upper()

'I AM A GOOD STUDENT.'

In [74]:
a.lower()

'i am a good student.'

6) 왼쪽 공백 지우기(lstrip) <-> 오른쪽 공백 지우기(rstrip). 공백 지우기(strip)

In [78]:
a = "            sweet chocolate milk                 "

In [79]:
a.lstrip()

'sweet chocolate milk                 '

In [81]:
a.rstrip()

'        sweet chocolate milk'

In [83]:
a.strip()

'sweet chocolate milk'

7) 문자열 바꾸기

In [89]:
a = "Python is too easy."

In [90]:
a.replace("easy", "difficult")

'Python is too difficult.'

8) 문자열 나누기(split)

In [92]:
a = "Life is too short"

In [93]:
a.split()

['Life', 'is', 'too', 'short']

Question. "고급 포맷팅"에서 인덱스와 이름을 혼용해서 넣었을 때,
In112는 왜 안되나?